@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
	font-family:"Lato";
	color: #424551; 
}
header{
	max-width: 1230px;
	margin: 0 auto;
	background-image: url(../img/1234.jpg);
	
}
.header__text {
	font-family:"Lato";
	color: purple;
	font-weight: 900;
	font-size: 210px;
	line-height: 300%;
}

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
}

.page {}

.page__container {}

.page__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 26px;
}
.page__image {
	text-align: center;
	margin-bottom: 60px; 
}
.page__image img{
	max-width: 100%;
}

.page__main-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}

.page__text {
	line-height: 160%;
}
.page__text p{
	margin-bottom: 22px;
}

.page__blockquote {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 48px;
	background: url("../img/icons/braces.svg")0 0 no-repeat;
	padding-left: 58px;
}

.page__text ul{
    margin-bottom: 24px;
}
.page__text li {
	margin-bottom: 4px;
	padding-left: 32px;
	background: url("../img/icons/check.svg") 0 6px no-repeat;

}
.page__house {
	background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(209,110,208,0.028448879551820738) 0%, rgba(0,212,255,1) 100%);
	margin-bottom: 100px;
}

.page__house-text {
	font-weight: 700;
	font-size: 80px;
	color:blueviolet;
	line-height: 250%;
}

.page__chapter {
	background-image: url(../img/640px-Face-smile.svg.png);
	background-repeat: no-repeat;
	background-position: center 50px;
	background-size: 200px;
}

.page__chapter-text {
	font-weight: 900;
	font-size: 90px;
	color: yellow;
	line-height: 600px;

}